<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">iRich 愛記帳</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">

            <a href="accounts\create"><button type="button" class="btn btn-success">新增消費</button></a>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
         <h1>記錄生活中的所有消費</h1>
        <p>隨手記錄日常花費，早日達成財富自由</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <table class="table table-hover">
        <tr>
          <th>消費名稱</th>
          <th>消費類型</th>
          <th>支出</th>
          <th>操作</th>
        </tr>
        <% for(var i=0;i < accounts.length; i++){ %>
        <tr>

          <td><a href="accounts/<%= accounts[i].id %>"><%= accounts[i].title %></a></td>
          <td><%= accounts[i].type %></td>
          <td><%= accounts[i].cost %></td>
          <td><a href="accounts/<%= accounts[i].id%>/update"><button class="btn btn-warning">更新</button></a></td>
          <td>
            <form method="POST" action="accounts/<%= accounts[i].id%>/delete"><button type="submit" class="btn btn-danger">刪除</button></a></form>
          </td>
        </tr>
        <% } %>
      </table>
      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
